.container {
  width: 30rem;
  height: 43rem;
  background: #f5f5f5;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

  margin: 0 0 2rem 2rem;
  position: relative;

  span:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    position: absolute;
    background: #482fb8;
    color: #e6e6e6;
    top: 0;
    right: 0;
    margin: 8px 8px;
    padding: 4px 8px;
    border-radius: 16px;
    font-weight: 600;
  }
  li {
    padding: 1rem;

    h2 {
      text-align: center;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        border: 2px solid #482fb8;
        padding: 4px;
        border-radius: 8px;
        margin: 0 auto;
      }
    }
  }
}

.tag {
  padding: 8px;
  color: #e6e6e6;
  background: #482fb8;
  margin-left: 20px;
  border-radius: 0.5rem;
}
.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
  }
}

.cover {
  width: 100%;
  height: 300px;
}

.videoPlayer {
  grid-area: video;
  width: 63.8rem;
  height: 36rem;
  border-radius: 16px;
  background: #333333;
  color: white;
  font-family: "Fira Code", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  iframe {
    border-radius: 16px;
  }
}

.description {
  padding: 0 1rem 0 1rem;
  text-align: center;
}

.removeButton {
  background-color: red;
  margin-top: 0.4rem;
  margin-left: 2.5rem;
  border-radius: 1rem;
}

.play {
  color: rebeccapurple;
  padding: 10px;
}

.container {
  li {
    div {
      button:nth-child(1) {
        background: blueviolet;
        padding: 1rem;
        border-radius: 1rem;
      }
    }
  }
}
